# {{title}}

{{description}}

Tags: {{#categories}}[{{.}}] {{/categories}}

## General Tools

| Name | Link | 
| :--- | :--------- |
{{#references}}
| {{title}} | [{{url}}](./{{url}}) |
{{/references}}

## Checklist

| Check | Headline | Description | Tools |
| :---:|:--- | :--------- | :--------| 
{{#checklist-items}}
| []| {{slogan}} | {{description}} | {{#references}}[{{title}}]({{&url}}) {{/references}}|
{{/checklist-items}}

